# Copy this to .env.docker and fill in values
POSTGRES_DB=banking
POSTGRES_USER=banking_user
POSTGRES_PASSWORD=CHANGE_THIS

DB_HOST=postgres
DB_PORT=5432
DB_NAME=banking
DB_USER=banking_user
DB_PASSWORD=CHANGE_THIS

JWT_SECRET_KEY=CHANGE_THIS_TO_32_CHAR_SECRET

FRAUD_SERVICE_URL=http://fraud-detection-service:5002
TRANSACTION_SERVICE_URL=http://transaction-service:5001
NOTIFICATION_SERVICE_URL=http://notification-service:5003

VITE_TRANSACTION_URL=http://localhost:5001
VITE_FRAUD_URL=http://localhost:5002
VITE_NOTIFICATION_URL=http://localhost:5003
